<div id="pigeon_subregion_wrapper">
  <% parent_region ||= params[:parent_region] %>
  <% unless parent_region.nil? %>
    <% country = Carmen::Country.coded(parent_region) %>
  <% end%>

  <% if country.nil? %>
    <em>Please select a country from above</em>
  <% elsif country.subregions? %>
    <%= subregion_select(:pigeon, :subregion, parent_region) %>
  <% else %>
    <%= text_field(:pigeon, :subregion) %>
  <% end %>
</div>


