
<main>
  <section class="container">
    <div class="col-xs-10 col-sm-6 col-md-4 col-lg-3 col-centered">
      <%= flash[:notice] if flash[:notice] %>
      <div class="grow pic">
        <%= image_tag("logo.png", alt: "Logo") %>
      </div>

      <%= form_for @pigeon do |f| %>
        <p><% if not pigeon_error_messages!.empty? %>
          <div class="alert alert-danger" role="alert">
            <a class="panel-close close" data-dismiss="alert">×</a> 
            <%= pigeon_error_messages! %>
          </div>
        <% end %></p>

        <%= f.label :first_name, :class => "sr-only"  %><br />
        <%= f.text_field :first_name, autofocus: true, :class => "form-control", :placeholder => "First Name" %><br />

        <%= f.label :last_name, :class => "sr-only"  %><br />
        <%= f.text_field :last_name, :class => "form-control", :placeholder => "Last Name" %>  <br />

        <%= f.label :email, :class => "sr-only"  %>  <br />
        <%= f.text_field :email, :class => "form-control", :placeholder => "Email" %>  <br />

        <%= f.label :email_confirmation, :class => "sr-only"  %>  <br />
        <%= f.text_field :email_confirmation, autocomplete: "off", :class => "form-control", :placeholder => "Email confirmation" %>  <br />
        
        <%= f.label :country, :class => "control-label" %>
         <%= f.country_select :country, :class => "selectpicker", prompt: 'Please select a country'  %>

        <%= f.label :subregion, :class => "control-label" %>
        <%= render partial: 'subregion_select', locals: {parent_region: f.object.country}%><br />


        <%= button_to 'Submit', pigeon_path(:id), :class => "btn btn-primary lg"%><br />
        
      <% end %>
    </div>
  </section>
</main>

