<main>
  <section class="container">
    <div class="col-xs-10 col-sm-6 col-md-4 col-lg-3 col-centered">

      <div class="grow pic">
        <%= image_tag("logo.png", alt: "Logo") %>
      </div>

      <%= form_for(@pigeon, html: { class: "form-horizontal" }) do |f| %>
        <div class="form-group">
          <%= f.label :first_name, "First Name: ", :class => "col-sm-4 control-label" %>
          <div class="col-sm-8 ">
            <p class="form-control-static"><%= session[:first_name] %></p><br />
          </div>
       </div>
        <div class="form-group">
         <%= f.label :last_name, "Last Name: ", :class => "col-sm-4 control-label"  %>
        <div class="col-sm-8 col-text-left">
          <p class="form-control-static"><%= session[:last_name] %></p><br />
        </div>
       </div>
        <div class="form-group">
        <%= f.label :email, "Email: ", :class => "col-sm-4 control-label" %>
        <div class="col-sm-8 col-text-left">
          <p class="form-control-static"><%= session[:email] %></p><br />
        </div>
        </div>
        <div class="form-group">
        <%= f.label :country, "Country: ", :class => "col-sm-4 control-label" %>
        <div class="col-sm-8 col-text-left">
          <p class="form-control-static"><%= session[:country] %></p><br />
        </div>
        </div>
        <div class="form-group">
        <%= f.label :subregion, "Subregion: ", :class => "col-sm-4 control-label" %>
        <div class="col-sm-8 col-text-left">
          <p class="form-control-static"><%= session[:subregion] %></p><br />
        </div>
        </div>
        
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" id="show-quote-buttons">
          <%= link_to 'Cancel', new_pigeon_path, :class => "btn btn-danger"%><br />
          <%= link_to 'Send message', pigeon_deliver_path, :class => "btn btn-primary", method: :post %><br />
        </div><br />
     <% end %>
    </div>
  </section>
</main>
