/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";



html, body
{
    height: 100%;
    padding: 0;
    margin: 0;
}

.grow img {
  width: 120px;
  margin-bottom: 20px;

  -webkit-transition: all 1s ease;
     -moz-transition: all 1s ease;
       -o-transition: all 1s ease;
      -ms-transition: all 1s ease;
          transition: all 1s ease;
}

.grow img:hover {
  width: 150px;
}


section.container{
  width: 80%;
  text-align:center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
  margin-top: 30px;
  clear: right;

}


.btn-default
{
  background-color: #000000;
  color: #FFFFFF;
  border-color: #000000;;
}


.btn-primary, .btn-danger, .btn-warning
{
  background-color: #740001;
  color: #FFFFFF;
  border-color: #740001;
}

.btn-default:hover, .btn-primary:hover
{
  background-color: #FFFFFF;
  color: #000000;
  border-color: #FFFFFF;
}


.col-centered{
  float: none; 
  clear: both; 
  margin-left: auto; 
  margin-right: auto;
  margin-bottom: 50px;
}

.alert{
  text-align: left;

 }


